#links_primarys, #search, #fags, #contact {
  display: flex;
  flex-direction: column;
  gap: var(--espaco-extra-grande);
  width: 100%;
  color: var(--cor-texto);

  h2 {
    width: 100%;
    font-size: var(--lg-fonte-tamanho);
  }

  h3 {
    width: 100%;
    font-size: var(--md-fonte-tamanho);
    font-family: "Roboto-Light", sans-serif;
  }

  span {
    font-size: var(--caption-fonte-tamanho);
  }
}

#links_primarys {
  .links__content {
    display: grid;
    gap: var(--espaco-extra-grande);
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    width: 100%;

    .link_item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
      text-align: center;

      background-color: var(--cor-neutra);
      border-radius: var(--raio-medio);
      box-shadow: var(--sombra-suave);
      transition: transform 0.4s ease;

      .link_icon, .link_nome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        width: 100%;
      }

      .link_icon {
        background-color: var(--cor-dominante);
        color: var(--cor-neutra);
        border-radius: var(--raio-medio);
        min-height: 100px;
        gap: var(--espaco-grande);
      }

      .link_nome {
        font-size: var(--caption-fonte-tamanho);
        line-height: var(--caption-line-height);
        gap: var(--espaco-pequeno);
        min-height: 110px;
      }

      &:hover {
        box-shadow: var(--sombra-profunda);
        transform: scale(1.02);
      }
    }
  }
}

#search {
  .search__texts {
    display: flex;
    flex-direction: column;
    gap: var(--espaco-medio);
  }

  input {
    width: 100%;
    padding: var(--espaco-grande);
    border-radius: var(--raio-pequeno);
    border: 1px solid var(--cor-separador);
    box-shadow: var(--sombra-suave);
    outline-color: var(--cor-dominante);
  }

  .search__categorys {
    display: grid;
    gap: var(--espaco-medio);
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    width: 100%;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--espaco-grande);
      height: 120px;
      border-radius: var(--raio-pequeno);
      text-align: center;

      img {
        width: 32px;
        height: 32px;
      }

      &:hover {
        border: 2px solid var(--cor-dominante);
      }
    }
  }

}

#fags {
  .fags__content {
    display: flex;
    flex-direction: column;
    gap: var(--espaco-grande);

    a {
      padding: var(--espaco-medio) var(--espaco-grande);
      border-radius: var(--raio-pequeno);
      border: 1px solid var(--cor-separador);
      box-shadow: var(--sombra-suave);
      transition: transform 0.4s ease;

      &:hover {
        box-shadow: var(--sombra-profunda);
        transform: scale(1.01);
        border: 2px solid var(--cor-dominante);
      }
    }
  }
}

#contact {

  .contact__channel {
    display: flex;
    flex-direction: column;
    gap: var(--espaco-grande);
    
    .channels {
      display: flex;
      gap: var(--espaco-grande);
    }
  }
  
  .contact__shop {
    display: flex;
    flex-direction: column;
    gap: var(--espaco-grande);
    
    .shop {
      display: flex;
      gap: var(--espaco-grande);
    }
  }

  .channels, .shop {
    padding: var(--espaco-grande);
    border-radius: var(--raio-pequeno);
    background-color: var(--cor-dominante);
    flex-wrap: wrap;
    
    button, label {
      background-color: transparent;
      color: var(--cor-neutra);
      border: none;
      cursor: pointer;

      display: flex;
      gap: var(--espaco-medio);
      align-items: center;
      
      &:hover {
        text-decoration: underline;
      }

      span {
        font-size: var(--paragrafo-fonte-tamanho);
        text-align: start;
        width: max-content;

      }

      img {
        width: 28px;
        height: 28px;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.500);
  display: flex;
  z-index: 999;
  display: none;

  .modal__content {
    display: flex;
    flex-direction: column;
    gap: var(--espaco-medio);
    width: 400px;
    max-height: 100%;
    padding: var(--espaco-grande);
    border-radius: var(--raio-medio);
    background-color: var(--cor-neutra);
    margin: auto;
    position: relative;

    .modal__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--espaco-medio);
      width: 100%;
      padding-bottom: var(--espaco-medio);

      img {
        width: 18px;
        height: 18px;
        cursor: pointer;
      }
    }

    .modal__body {
      display: flex;
      flex-direction: column;
      gap: var(--espaco-grande);
      overflow: auto;
      padding-bottom: 50px;

      label {
        display: flex;
        flex-direction: column;
        gap: var(--espaco-medio);

        input, select, textarea {
          padding: var(--espaco-medio);
          border-radius: var(--raio-pequeno);
          border: 1px solid var(--cor-separador);
          box-shadow: var(--sombra-suave);
          outline-color: var(--cor-dominante);
        }
      }
    }

    .modal__footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      width: 100%;
      
      label {
        width: 100%;
        display: flex;

        button {
          padding: var(--espaco-medio);
        }
      }
    }
  }
}

#menu_modal:checked ~ .modal {
  display: flex;
}