@font-face {
  font-family: 'Roboto-Black';
  src: url('/assets/font/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('/assets/font/Roboto/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/assets/font/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('/assets/font/Roboto/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('/assets/font/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('/assets/font/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('/assets/font/Roboto/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('/assets/font/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('/assets/font/Roboto/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/assets/font/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('/assets/font/Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url('/assets/font/Roboto/Roboto-ThinItalic.ttf') format('truetype');
}

.icon-extra-grande {
  width: var(--tamanho-icone-extra-grande);
  height: var(--tamanho-icone-extra-grande);
}

.icon-grande {
  width: var(--tamanho-icone-grande);
  height: var(--tamanho-icone-grande);
}

.icon-medio {
  width: var(--tamanho-icone-medio);
  height: var(--tamanho-icone-medio);
}

.icon-pequeno {
  width: var(--tamanho-icone-pequeno);
  height: var(--tamanho-icone-pequeno);
}

.icon-extra-pequeno {
  width: var(--tamanho-icone-extra-pequeno);
  height: var(--tamanho-icone-extra-pequeno);
}

html {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: var(--paragrafo-fonte-tamanho);
  line-height: var(--paragrafo-line-height);
  letter-spacing: var(--paragrafo-letter-spacing);
}

body {
  background-color: var(--cor-separador-extra);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 12px 24px 12px 24px;
}

.button_primary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: var(--espaco-grande);
  padding: var(--padding-elementos);
  border: 2px solid var(--cor-dominante);
  border-radius: var(--raio-pequeno);

  background-color: var(--cor-dominante);
  color: var(--cor-neutra);
  font-family: "Roboto-Medium", sans-serif;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: var(--cor-dominante-secundario);
    border: 2px solid var(--cor-dominante-secundario);
  }
}

.button_secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: var(--espaco-grande);
  padding: var(--padding-elementos);
  border: 2px solid var(--cor-dominante);
  border-radius: var(--raio-pequeno);

  background-color: var(--cor-neutra);
  color: var(--cor-dominante);
  font-family: "Roboto-Medium", sans-serif;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: var(--cor-separador-extra);
  }
}

#header {
  border: none;
  color: var(--cor-neutra);
}

.header__top {
  background-color: var(--cor-dominante-secundario);
}

.header__top .container {
  display: flex;
  justify-content: space-between;
  gap: var(--espaco-grande);

  font-family: "Roboto-Light", sans-serif;
  font-size: var(--caption-fonte-tamanho);
  
  a {
    display: flex;
    align-items: center;
    width: max-content;
    gap: var(--espaco-pequeno);
    color: var(--cor-neutra)
  }

  a:hover {
    color: var(--cor-separador-extra);
  }

  .top__left, .top__right {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: var(--espaco-grande);
  }
}

.header__main {
  background-color: var(--cor-dominante);
  position: sticky;
  top: 0;
  z-index: 999;
}

.header__main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--espaco-extra-grande);
  padding-top: var(--espaco-extra-grande);
  padding-bottom: var(--espaco-extra-grande);

  .menu-hamburger {
    /* display: flex; */ /* Muda para display flex em telas menores */
    display: none;
    flex-grow: 0;
    align-items: center;
    
    label {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  #logo {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: inline-block;
      width: max-content;
      height: 30px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .grou_address_search{
    display: flex;
    align-items: center;
    gap: var(--espaco-grande);
    width: 500px;
  }

  #endereco {
    display: flex;
    align-items: center;
    
    button {
      display: flex;
      align-items: center;
      gap: var(--espaco-pequeno);
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: var(--cor-neutra);
      font-size: var(--caption-fonte-tamanho);
      width: max-content;
    }

    button span {
      display: flex;
      flex-direction: column;
      text-align: left;

      span {
        font-family: 'Roboto-Bold', sans-serif;
      }
    }
  }

  #busca {
    display: flex;
    align-items: center;
    flex-grow: 1;
    border-radius: 0.25rem;
    background-color: var(--cor-neutra);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--cor-neutra);

    &:focus-within {
      border: 1px solid var(--cor-secundaria);
    }

    input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      padding: 0.5rem 0.75rem;
      flex-grow: 1;
    }
  
    img {
      width: 20px;
      height: 20px;
      margin-right: 0.75rem;
      color: var(--cor-dominante);
    }
  }

  #menu {
    display: flex;
    align-items: center;
    gap: var(--espaco-extra-grande);

    div.group_account {
      position: relative;
    }

    div.account__menu {
      display: none;
      flex-direction: column;
      gap: var(--espaco-medio);
      position: absolute;
      width: max-content;
      top: 105%;
      background-color: var(--cor-neutra);
      padding: var(--espaco-grande);
      border-radius: 0.25rem;
      box-shadow: var(--sombra-suave);
      border: 1px solid var(--cor-separador-extra);

      button {
        width: 150px;
      }
    }

    a, button#account {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      color: var(--cor-neutra);
      width: max-content;
      gap: var(--espaco-medio);
      font-size: var(--caption-fonte-tamanho);
      text-align: start;
    }

    #account:hover ~ .account__menu, .account__menu:hover {
      display: flex;
    }

    span {
      line-height: var(--caption-line-height);

      * {
        font-family: 'Roboto-Bold', sans-serif;
      }
    }
  }
}

.header__categories {
  background-color: var(--cor-neutra);

  .container {
    display: flex;
    padding-top: var(--espaco-grande);
    padding-bottom: var(--espaco-grande);
    overflow: hidden;
    position: relative;

    .container__menu, label, .container__account {
      display: none;
    }

    label img {
      cursor: pointer;
    }

    button.previes, button.next {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(243, 243, 243, 0.63);
      border-radius: 50%;
      border: none;
      outline: none;
      cursor: pointer;
      width: 50px;
      height: 50px;
      z-index: 2;

      img {
        margin: var(--espaco-medio);
      }

      &:hover {
        background-color: rgba(221, 220, 220, 0.856);
      }
    }

    button.previes {
      left: 0;
      bottom: 40%;
    }

    button.next {
      right: 0;
      bottom: 40%;
    }
    
    button.next:focus ~ .categories__list {
      transform: translate(-50%);
    }
    
    .categories__list {
      display: flex;
      align-items: baseline;
      gap: var(--espaco-extra-grande);
      color: var(--cor-texto);
      font-family: "Roboto-Medium", sans-serif;
      font-size: 0.75rem;
      height: min-content;
      transition: transform 0.4s ease;
    }

    .categories__list a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 0;
      align-items: center;
      gap: var(--espaco-pequeno);
      cursor: pointer;
      margin-left: var(--espaco-medio);
      margin-right: var(--espaco-medio);
      text-align: center;
      width: 72px;

      span {
        width: 80px;
        line-height: var(--caption-line-height);
      }

      img {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        box-shadow: var(--sombra-suave);
        border: 1px solid var(--cor-separador-extra);
        padding: var(--espaco-pequeno);
      }

      &:hover > img {
        box-shadow: var(--sombra-profunda);
        border: 2px solid var(--cor-dominante);
        transform: scale(1.1);
      }
    }
  }
}