@keyframes carousel {
  0% {
    display: flex;
    width: 100%;
  }
  19% {
    display: flex;
    width: 100%;
  }
  20% {
    display: none;
  }
  100% {
    display: none;
  }
}

@keyframes select_banner {
  0% {
    background-color: var(--cor-dominante);
  }
  19% {
    background-color: var(--cor-dominante);
  }
  20% {
    background-color: var(--cor-texto);
  }
  100% {
    background-color: var(--cor-texto);
  }
}

.carousel {
  position: relative;

  .button_banner {
    position: absolute;
    bottom: 20px;
    width: 12px;
    height: 12px;
    border: 3px solid var(--cor-texto);
    background-color: var(--cor-texto);
    border-radius: 50%;
    box-shadow: var(--sombra-profunda);
    cursor: pointer;

    animation-name: select_banner;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;

    &:nth-child(1) {
      left: calc(50% - 68px);
      animation-delay: 0s;
    }
  
    &:nth-child(2) {
      left: calc(50% - 38px);
      animation-delay: 2s;
    }
  
    &:nth-child(3) {
      left: calc(50% - 8px);
      animation-delay: 4s;
    }
  
    &:nth-child(4) {
      left: calc(50% + 22px);
      animation-delay: 6s;
    }
  
    &:nth-child(5) {
      left: calc(50% + 52px);
      animation-delay: 8s;
    }
  }

  .banners {
    display: flex;
    flex-grow: 1;
    aspect-ratio: 16/4;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;

    .banner {
      display: flex;
      flex-grow: 1;
      aspect-ratio: 16/4;
      cursor: pointer;
  
      animation-name: carousel;
      animation-duration: 10s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-play-state: running;

      &:nth-child(1) {
        animation-delay: 0s;
      }
  
      &:nth-child(2) {
        animation-delay: 2s;
      }
  
      &:nth-child(3) {
        animation-delay: 4s;
      }
  
      &:nth-child(4) {
        animation-delay: 6s;
      }
  
      &:nth-child(5) {
        animation-delay: 8s;
      }
    }
  }

  &:hover .button_banner, &:hover .banner {
    animation-play-state: paused;
    animation-name: none;
  }

  .button_banner:hover ~ .banners .banner {
    display: none;
  }

  .button_banner:nth-of-type(1):hover {

    animation-name: select_banner;
    animation-duration: 1s;
    animation-delay: 0s;

    ~ .banners .banner:nth-of-type(1) {
      animation-name: carousel;
      animation-duration: 1s;
      animation-delay: 0s;
    }

  }

  .button_banner:nth-of-type(2):hover {

    animation-name: select_banner;
    animation-duration: 1s;
    animation-delay: 0s;

    ~ .banners .banner:nth-of-type(2) {
      animation-name: carousel;
      animation-duration: 1s;
      animation-delay: 0s;
    }

  }

  .button_banner:nth-of-type(3):hover {

    animation-name: select_banner;
    animation-duration: 1s;
    animation-delay: 0s;

    ~ .banners .banner:nth-of-type(3) {
      animation-name: carousel;
      animation-duration: 1s;
      animation-delay: 0s;
    }

  }

  .button_banner:nth-of-type(4):hover {

    animation-name: select_banner;
    animation-duration: 1s;
    animation-delay: 0s;

    ~ .banners .banner:nth-of-type(4) {
      animation-name: carousel;
      animation-duration: 1s;
      animation-delay: 0s;
    }

  }

  .button_banner:nth-of-type(5):hover {

    animation-name: select_banner;
    animation-duration: 1s;
    animation-delay: 0s;

    ~ .banners .banner:nth-of-type(5) {
      animation-name: carousel;
      animation-duration: 1s;
      animation-delay: 0s;
    }

  }

}

section {
  display: flex;
  flex-direction: column;
  gap: var(--espaco-grande);
  flex-grow: 1;
  width: 100%;
  align-items: flex-start;

  .products {
    display: flex;
    gap: var(--espaco-grande);
    overflow: hidden;
  }
}