h2 {
  width: 100%;
  font-size: var(--lg-fonte-tamanho);
  flex-grow: 1;
}

h3 {
  width: 100%;
  font-size: var(--sm-fonte-tamanho);
  font-family: "Roboto-Regular", sans-serif;
  flex-grow: 1;
}

label {
  font-size: 0.9rem;
}

.main__header {
  display: flex;
  align-items: center;
  width: 100%;

}

#main__products {
  
  display: flex;
  gap: var(--espaco-extra-grande);
  width: 100%;

  .filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espaco-grande);
    min-width: 200px;
    width: 200px;

    .filter {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: var(--espaco-grande);
      width: 100%;

      background-color: var(--cor-neutra);
      padding: var(--espaco-grande);
      border-radius: var(--raio-medio);
      box-shadow: var(--sombra-elevada);

      label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: var(--espaco-medio);
        width: 100%;
        cursor: pointer;

        &:hover {
          color: var(--cor-dominante);
          text-decoration-line: underline;
        }

        input {
          appearance: none;
          width: 18px;
          height: 18px;
          border: 1px solid var(--cor-texto);
          border-radius: var(--raio-pequeno);
          outline: none;
          cursor: pointer;

          display: flex;
          justify-content: center;
          align-items: center;

          &:checked {
            background-color: var(--cor-dominante);
            border-color: var(--cor-dominante);

            &:after {
              content: "\2714";
              color: var(--cor-neutra);
            }
          }
        }
        
      }
    }
  }
  
  .products__main {
    display: flex;
    flex-direction: column;
    gap: var(--espaco-grande);
    flex-grow: 1;
  }
}
