.container {
  margin: auto;
}

.form_login {
	display: flex;
	flex-direction: column;
	gap: var(--espaco-grande);
	color: var(--cor-texto);
	width: 290px;

  h2, p {
    text-align: center;
  }

  .form_header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--espaco-medio);

    h2 {
      font-size: var(--md-fonte-tamanho);
    }
    
    img {
      filter: invert();
      height: 22px;
      width: 22px;
    }
  }

  p {
    font-size: var(--caption-fonte-tamanho);
    line-height: var(--paragrafo-line-height);
  }

  label {
    display: flex;
    gap: var(--espaco-medio);
  }

  a:hover {
    color: var(--cor-dominante);
    text-decoration-line: underline;
  }

  label:nth-of-type(1), label:nth-of-type(2) {
    flex-direction: row;
    flex-grow: 1;
    flex-direction: column;

    input {
      display: flex;
      flex-grow: 1;
      padding: var(--espaco-medio);
      border: 1px solid var(--cor-separador);
      border-radius: var(--raio-pequeno);
      font-size: var(--paragrafo-fonte-tamanho);
      outline-color: var(--cor-dominante);
    }
  }

  label:nth-of-type(3) {
    cursor: pointer;
  }

  .form_footer {
    display: flex;
    flex-direction: column;
    gap: var(--espaco-pequeno);
    text-align: center;
  }
}