/* Todas as informações da tela do produto até a parte do preço e fotos */
.geral {
  display: flex;
  flex-direction: column;
  gap: var(--espaco-grande);
  padding: var(--espaco-extra-grande);
	background-color: var(--cor-neutra);
	border-radius: var(--raio-medio);
  color: var(--cor-texto);

  /* Avaliar e informações do produto */
  a {
    &:hover {
      color: var(--cor-dominante);
      text-decoration-line: underline;
    }
  }

  hr {
    margin-bottom: 30px;
    border-color: var(--cor-separador-extra);
  }

	/* Engloba o nome do produto e as informações */
	.nome-produto {
		display: flex;
		flex-direction: column;
    gap: var(--espaco-pequeno);
    flex-grow: 1;

    h2 {
      text-wrap:wrap;
    }
	}

	/* Tem todas as informações presentes de imagens preços e botoes*/
	.tela-produto {
    width: 100%;
		display: grid;
    gap: var(--espaco-grande);
    grid-template-columns: 1fr 1fr;
    
    /* Tem todas as imagens reunidas */
    .images-all {
      display: flex;
      flex-direction: column;
      width: 100%;

      /* Todas as miniaturas */
      .images {
        display: flex;
        gap: var(--espaco-medio);
        
        /* Classe que todas as miniaturas pertencem */
        .image {
          aspect-ratio: 1/1;
          flex-grow: 1;
          padding: var(--espaco-pequeno);
          border: 2px solid var(--cor-separador-extra);
          border-radius: var(--raio-pequeno);
          cursor: pointer;

          &:hover {
            border-color: var(--cor-dominante);
          }
        }
      }
    }

    /* Todas as informações referente ao preço e ao elementos de botões e etc */
    .tela-preco {
      display: flex;
      flex-direction: column;
      gap: var(--espaco-extra-grande);
      
      /* Todos os icones de estrelas e compartilhar e o avaliar produto */
      .recursos {
        display: flex;
        gap: var(--espaco-medio);
        justify-content: space-between;
        align-items: center;
        
        /* estrelas com a opção de avaliar */
        #avaliar-estrelas {
          display: flex;
          gap: var(--espaco-medio);
          align-items: center;
          font-size: var(--paragrafo-fonte-tamanho);
          
          /* Todos os icones de estrelas  */
          .estrelas {
            display: flex;
            gap: var(--espaco-pequeno);
            
            img {
              width: 20px;
              height: 20px;
            }
          }
          
        }
        
        /* Icones de compartilhar e favoritar */
        .acoes {
          display: flex;
          gap: var(--espaco-grande);
          
          img {
            width: var(--tamanho-icone-medio);
            height: var(--tamanho-icone-medio);
            cursor: pointer;
          }
        }
      }
      
      /* Legendas e informações que tem haver com o preço */
      .elementos-preco {
        display: flex;
        flex-direction: column;
        gap: var(--espaco-grande);
        
        .venda-entrega {
          display: flex;
          gap: var(--espaco-medio);
          
          #logo-americanas {
            width: 100px;
          }
        }
        
        /* Todas as informações de preço */
        .preco {
          display: flex;
          flex-direction: column;
          gap: var(--espaco-pequeno);
          
          .preco-original, .valor-principal {
            font-size: var(--paragrafo-fonte-tamanho);
          }

          .preco-original {
            display: flex;
            flex-direction: row;
            gap: var(--espaco-grande);
            align-items: center;
            
            /* Espaço com o desconto do produto */
            span:last-child {
              font-family: "Roboto-Bold", sans-serif;
              background-color: #07aa07;
              color: var(--cor-neutra);
              padding: var(--espaco-pequeno);
              border-radius: var(--raio-pequeno);
              font-size: 0.7rem;
            }
          }
          
          .valor-principal {
            display: flex;
            gap: var(--espaco-pequeno);
          }

          .valor-desconto {
            display: flex;
            flex-direction: column;
            line-height: var(--caption-line-height);
            margin-top: var(--espaco-grande);
            
            strong:first-child {
              font-size: var(--lg-fonte-tamanho);
            }
          }
        }
        
        /* Informações de seguro e opção de marcar o checkbox */
        .seguro {
          display: flex;
          gap: var(--espaco-grande);
          align-items: center;
          cursor: pointer;
          line-height: var(--paragrafo-line-height);
          font-size: var(--paragrafo-fonte-tamanho);

          input {
            min-width: 20px;
            min-height: 20px;
          }

          img {
            width: 32px;
            height: 32px;
          }
        }
      }

      /* Os dois botões de Comprar Agora e Adicionar à sacola */
      .compra {
        display: flex;
        flex-direction: column;
        gap: var(--espaco-medio);

        button {
          padding-top: 0.8rem;
          padding-bottom: 0.8rem;
        }
      }

      .frete {
        display: flex;
        flex-direction: column;
        gap: var(--espaco-medio);

        /* Campo de cep ,legenda e botão de OK */
        .cep {
          display: flex;
          
          /* Id da caixa de digitar o frete */
          #frete {
            padding: var(--espaco-pequeno) var(--espaco-grande);
            border-radius: var(--raio-pequeno);
            outline-color: var(--cor-dominante);
            border: 2px solid var(--cor-separador-extra);
            width: 100%;
            font-size: var(--caption-fonte-tamanho);
          }
          /* id do botão OK ao lado do Cep */
          #consultar {
            padding: 1rem;
            margin-left: var(--espaco-medio);
          }
        }
      }
    }
    
	}
}

/* Todas as informações sobre as descrições */
.info {
  color: var(--cor-texto);
  display: flex;
  flex-direction: column;
  gap: var(--espaco-grande);
  width: 100%;
  
	/* Caixas de cada campo de informação */
	.accordion {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
		border: 2px solid var(--cor-separador-extra);
		border-radius: 10px;
		box-shadow: var(--sombra-suave);
		background-color: var(--cor-neutra);

		&:hover {
			border: 2px solid var(--cor-dominante);
		}
    
    /* Titulo contendo o icone */
    .title {
      width: 100%;
      list-style: none;
      cursor: pointer;
      font-weight: 600;
      padding: 16px;
      position: relative;
    
      img {
        position: absolute;
        right: 16px;
        transform: translateY(-50%);
        top: 50%;
      }
    }
    
    /* Classe da caixa que está dentro do título */
    .description {
      font-size: 14px;
      line-height: 30px;
      padding: 16px;
    }
    
    .description p {
      margin-bottom: 10px;
    }
    
    /* Tabela ficha técnica */
    .tabela {
      border-collapse: collapse;
      width: 100%;
    }
    
    .tabela td {
      border: 1px solid #ffffff;
      border-radius: 4px;
      padding: 6px;
      text-align: left;
    }
    
    .tabela tr:nth-child(odd) {
      background-color: rgb(242, 242, 242);
      font-size: var(--caption-fonte-tamanho);
    }
    .tabela tr:nth-child(even) {
      background-color: var(--cor-neutra);
      font-size: var(--caption-fonte-tamanho);
    }
    
    /* Campo  com todas as informações das avaliacoes */
    .avaliacoes {
      display: flex;
      gap: var(--espaco-extra-grande);
    }
    
    /* Contem as informações do botão e das notas nas estrelas */
    .avaliar {
      display: flex;
      flex-direction: column;
    }
    
    /* id do botão avaliar produto */
    #avaliar-produto {
      display: flex;
      padding: 12px 50px;
      margin-bottom: var(--espaco-grande);
    }
    
    /* Informações da nota em estrelas e numero e quantidade de avaliações */
    .nota {
      border: 1px solid var(--cor-texto-neutra);
      border-radius: 4px;
    }
    
    /* Id do nome: nota */
    #nome-nota {
      padding: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid var(--cor-texto-neutra);
      background-color: rgb(210, 210, 210);
      color: var(--cor-texto-destaque);
    }
    
    /* id do valor da nota que o aplicativo tem */
    #nota-valor {
      margin-left: var(--espaco-pequeno);
      font-size: var(--xl-fonte-tamanho);
      color: var(--cor-texto-destaque);
    }
    
    /* id da div que contem a nota e as estrelas */
    #valor-estrelas {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgb(210, 210, 210);
    }
    
    /* classe que representa a quantidade de pessoas que avaliaram */
    .quantidade-avaliacoes {
      margin-left: var(--espaco-pequeno);
    }
    
    /* id contendo todas as imagens das estrelas */
    #estrelas-comentarios {
      margin-left: var(--espaco-medio);
    }
	}
}