/* 

Esse é um arquivo teste para o estilo do site.

*/

/* Variáveis Globais */
:root {
  /* Cores */
  --cor-dominante: #F80032; /* Vermelho primário da marca */
  --cor-dominante-secundario: #AF191F; /* Vermelho primário da marca */
  --cor-neutra: #FFFFFF; /* Branco, para fundos e textos sobre o vermelho */
  --cor-secundaria: #3FB5B5; /* Azul claro, para complementar o vermelho dominante e proporcionar contraste */
  --cor-destaque: #FFA100; /* Laranja, para destacar elementos importantes e chamar a atenção do usuário */
  --cor-texto: #333333; /* Cinza escuro, para textos e elementos de fundo */
  --cor-texto-neutra: #666666; /* Cinza médio, para textos e elementos secundários */
  --cor-separador: #CCCCCC; /* Cinza claro, para fundos e separadores */
  --cor-separador-extra: #E6E6E6; /* Cinza extra claro, para fundos e separadores mais claros */
  --cor-texto-destaque: #000000; /* Preto, para textos e elementos de destaque sobre fundos claros */

  /* Espaçamento */
  --espaco-pequeno: 0.25rem; /* 4px */
  --espaco-medio: 0.5rem; /* 8px */
  --espaco-grande: 1rem; /* 16px */
  --espaco-extra-grande: 1.5rem; /* 24px */

  /* Preenchimento/Margem */
  --margem-extra-grande: 2rem; /* 32px */

  /* Raio */
  --raio-pequeno: 0.25rem; /* 4px */
  --raio-medio: 0.5rem; /* 8px */
  --raio-grande: 1rem; /* 16px */

  /* Sombra */
  --sombra-suave: 0 2px 4px rgba(0, 0, 0, 0.1);
  --sombra-elevada: 0 4px 8px rgba(0, 0, 0, 0.1);
  --sombra-profunda: 0 8px 16px rgba(0, 0, 0, 0.1);

  /* Escala de Grid */
  --tamanho-coluna-base: 0.5rem; /* 8px */
  --gutter: 1rem; /* 16px */
  --coluna-1: calc(var(--tamanho-coluna-base) * 1);
  --coluna-2: calc(var(--tamanho-coluna-base) * 2 + var(--gutter));
  --coluna-3: calc(var(--tamanho-coluna-base) * 3 + var(--gutter) * 2);
  --coluna-4: calc(var(--tamanho-coluna-base) * 4 + var(--gutter) * 3);
  --coluna-5: calc(var(--tamanho-coluna-base) * 5 + var(--gutter) * 4);

  /* Família Tipográfica */
  --fonte-padrao: 'Roboto', sans-serif;

  /* Tamanhos e Pesos das Fontes */
  --xl-fonte-tamanho: 2.5rem; /* 40px */
  --xl-fonte-peso: 700; /* Negrito */
  --xl-line-height: 1.2;
  --xl-letter-spacing: 0.02em;

  --lg-fonte-tamanho: 2rem; /* 32px */
  --lg-fonte-peso: 700; /* Negrito */
  --lg-line-height: 1.2;
  --lg-letter-spacing: 0.02em;

  --md-fonte-tamanho: 1.5rem; /* 24px */
  --md-fonte-peso: 700; /* Negrito */
  --md-line-height: 1.2;
  --md-letter-spacing: 0.01em;

  --sm-fonte-tamanho: 1.125rem; /* 18px */
  --sm-fonte-peso: 700; /* Negrito */
  --sm-line-height: 1.2;
  --sm-letter-spacing: 0.01em;

  --paragrafo-fonte-tamanho: 1rem; /* 16px */
  --paragrafo-fonte-peso: 400; /* Regular */
  --paragrafo-line-height: 1.5;
  --paragrafo-letter-spacing: 0.01em;

  --caption-fonte-tamanho: 0.875rem; /* 14px */
  --caption-fonte-peso: 400; /* Regular */
  --caption-line-height: 1.2;
  --caption-letter-spacing: 0.01em;

  /* Padding e Margin */
  --padding-elementos: 0.5rem; /* 8px */
  --margin-elementos: 1rem; /* 16px */

  /* Tamanhos de ícones */
  --tamanho-icone-extra-grande: 40px; /* equivalente a 2rem */
  --tamanho-icone-grande: 32px; /* equivalente a 2rem */
  --tamanho-icone-medio: 24px; /* equivalente a 1.5rem */
  --tamanho-icone-pequeno: 16px; /* equivalente a 1rem */
  --tamanho-icone-extra-pequeno: 12px; /* equivalente a 0.75rem */
}